<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/d/d2/Codinglogo.jpg" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>File Metadata Microservice</h2>
        
        <div class="view">
          <h4 id="output"></h4>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="UPLOAD">
          </form>
        </div>
      </div>
      <div class="footer">
        <p>
          Made by 
          <a href="https://github.com/Flautisimo">Flautisimo</a>
        </p>
      </div>
   </body>
</html>
